<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<p>
	Splurty was built by <a target="_blank href="http://github.com/NKHolton">Natalie</a>. She is breaking into the coding world looking to create something special.
</p>
<br />
<p>
	Working in healthcare IT sales roles for the last 5 years Natalie is now looking for a change in her career and a new challenge in life.
</p>
<p>
	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
</p>

<div class="col-xs-12 col-sm-4">
	<%=image_tag 'nholton.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Natalie Holton</h2>
	<br />
	<p>
		Natalie Holton is a BA Marketing graduate with consultative sales experience in the healthcare information technology payer space. She has demonstrated ability to exceed sales quotas, tackle large public-speaking events, and take on new challenges with excitement.
	</p>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
